<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.briefmatin.agent</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/open</string>
    <string>-a</string>
    <string>__APP__</string>
  </array>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>__H__</integer><key>Minute</key><integer>__M__</integer></dict>
    <dict><key>Weekday</key><integer>2</integer><key>Hour</key><integer>__H__</integer><key>Minute</key><integer>__M__</integer></dict>
    <dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>__H__</integer><key>Minute</key><integer>__M__</integer></dict>
    <dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>__H__</integer><key>Minute</key><integer>__M__</integer></dict>
    <dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>__H__</integer><key>Minute</key><integer>__M__</integer></dict>
  </array>
  <key>RunAtLoad</key><false/>
  <key>StandardOutPath</key><string>__BASE__/agent.out.log</string>
  <key>StandardErrorPath</key><string>__BASE__/agent.err.log</string>
</dict>
</plist>
